body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:727px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:726px;
  line-height:20px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:355px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:57px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:62px;
  width:335px;
  height:56px;
  font-size:16px;
  line-height:28px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:17px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:128px;
  width:175px;
  height:16px;
  color:#6699CC;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:186px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:153px;
  width:346px;
  height:186px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:85px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:274px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:349px;
  width:346px;
  height:273px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:128px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:251px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:360px;
  width:319px;
  height:250px;
  line-height:28px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  white-space:nowrap;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:17px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:656px;
  width:141px;
  height:16px;
  color:#6699CC;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u781 {
  position:fixed;
  left:0px;
  top:0px;
}
#u781_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
  background-image:none;
}
#u781_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-size:16px;
  color:#3A3D41;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:13px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:31px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:9px;
  width:15px;
  height:31px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:31px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:5px;
  width:20px;
  height:31px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:13px;
  width:16px;
  height:19px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:656px;
  width:15px;
  height:15px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:656px;
  width:33px;
  height:16px;
  color:#6699FF;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
